<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
   <div class="calculator">

    <p style="font-family:'Orbitron', sans-serif; font-weight:500;font-size:30px;margin:0px;padding:0px;color:white;font-style:italic;">CASIO</p>

<div class="screen">
<input type="text" id="display" readonly>
</div>

<div class="buttons">
<section class="first">
<button class="clear" onclick="clearDisplay()">C</button>
<button class="operator" onclick="append('%')">%</button>
<button class="operator" onclick="append('/')">÷</button>
<button class="operator" onclick="append('*')">×</button>
</section>

<section class="second">
<button class="number" onclick="append('7')">7</button>
<button class="number" onclick="append('8')">8</button>
<button class="number" onclick="append('9')">9</button>
<button class="operator" onclick="append('-')">−</button>
</section>

<section class="third">
<button class="number" onclick="append('4')">4</button>
<button class="number" onclick="append('5')">5</button>
<button class="number" onclick="append('6')">6</button>
<button class="operator" onclick="append('+')">+</button>
</section>

<section class="fourth">
<button class="number" onclick="append('1')">1</button>
<button class="number" onclick="append('2')">2</button>
<button class="number" onclick="append('3')">3</button>
<button class="operator" onclick="calculate()">=</button>
</section>

<section class="fifth">
<button class="number" onclick="append('0')">0</button>
<button class="number" onclick="append('.')">.</button>
</section>
</div>

</div>

<script>

function append(value){
document.getElementById("display").value += value;
}

function clearDisplay(){
document.getElementById("display").value = "";
}

function calculate(){
try{
let result = eval(document.getElementById("display").value);
document.getElementById("display").value = result;
}
catch{
document.getElementById("display").value = "Error";
}
}

</script>
</body>
</html>